<!--MOBILE VIEW-->
<div class="mobile-container">
  <div class="content-layer">
    <div class="transparent1"></div>
    <div class="napi-ige">
      <div class="ige-container">
        <p class="ige-title">{{napiIge.title}}</p>
        <div class="main-ige">
          <p class="ige">{{napiIge.ige}}</p>
          <p class="ige-source"><b><i>{{napiIge.source}}</i></b></p>
        </div>
        <div class="ige-magyarazat">
          <p class="magyarazat">{{napiIge.magyarazat}}</p>
          <p class="tovabb-btn">tovább..</p>
        </div>
      </div>
    </div>
    <div class="transparent2"></div>
    <div class="content2"></div>
    <div class="transparent3"></div>
    <div class="footer"></div>
  </div>
  <div class="background-layer-1">
    <div class="background1"></div>
  </div>
  <div class="background-layer-2">
    <div class="layer-2-transparent"></div>
    <div class="background2"></div>
  </div>
  <div class="background-layer-3">
    <div class="layer-3-transparent"></div>
    <div class="background3"></div>
  </div>
</div>

<!--DESKTOP VIEW-->
<div class="desktop-container">
  <div class="pos layer1">
    <p>Layer 1</p>
  </div>
  <div class="pos layer2">
    <p>Layer 2</p>
  </div>
  <div class="pos layer3">
    <p>Layer 3</p>
  </div>
  <div class="pos layer4">
    <p>Layer 4</p>
  </div>
</div>
